.background-image{

    
    background-image: url(images/Donations001.jpg) ;
    
    width: 100%;
    height: 750px;
    
   background-size: 100% 130%;
    background-repeat: no-repeat;
    
  

    text-align: center;
   

}
#topper-io{
    padding-top: 5%;
}
#area-are{
    color: black;
}
body{
    font-family: 'Nunito', sans-serif;
}
h2{
    font-size: 50px;
}
h1{
    font-size: 60px;
    color: whitesmoke;
   
}
h4{
    font-size: 30px;
    color: aliceblue;
}
.btn-color{

    color: aliceblue;
}
.box-office
{
    text-align: center;
    display: flex;
    font-size: 20px;
    padding-left: 30%;
    padding-right: 30%;
   
   
   
    justify-content: space-evenly;
 
}
.experience-area{

margin-top: 5%;

}
.border-line{
    border: rgb(128, 128, 128) solid 5px;
    background-color: rgb(128, 128, 128);
}

.another-id{
    color: rosybrown;
    padding-left: 30%;
    padding-right: 30%;
}
#thousand-tk{
    box-sizing: border-box;
    width: 5%;
    margin: 10px 10px 10px 10px;

}
.donate-now{
    color: black;
    text-align: center;
}
.thousand-copy{
    height: 10%;
    width: 5%;
    border: gray solid 5px;

}


#pot{
   margin-top: 2%;
    margin-bottom: gray solid 50px;
    padding-left: 46%;
    
}
#lot-btn{
    padding-top: 5%;
}
.another-button{
    padding-top: 5%;
    text-decoration: none;
    background-color: brown;
    padding: 10px 40px;
    text-align: center;

    
    border-radius: 5px;
}
.potato-a{

    margin-top: 5%;
    text-align: center;

}
.link-button{
    text-decoration: none;
    background-color: brown;
    padding: 10px 40px;
    texy-align: center;
    
    border-radius: 5px;
}
.con-button{

    text-decoration: none;
    background-color: lightseagreen;
    padding: 10px 40px;
    border-radius: 5px;

}
#cribe-id{
    text-decoration: none;
    background-color: brown;
    padding: 10px 20px;
    border-radius: 5px;
    
}
#what-for{
    border: brown solid 5px;
}


.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 25%;
    height: 80%;
    

}

.food-icon{
    width: 40px;
    
}
.family-icon{
    width: 40px;
}
.edu-icon{
    width: 40px;
}
#edu-repo{
    background-color: lightcoral;
}
#family-repo{
    background-color: lightpink;
}
.hope-us{
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
}
#se-image{
    height: 70%;
    width: 45%;
    padding-top: 10%;
}
.my-update{
    padding-top: 10%;
    text-align: center;
}
.only-hope{
    padding-top: 5%;
}
.another-width{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 0%;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border: 1px solid gray;
    width: 400px;
    height: 300px;
    padding-top: 30px;
    
}
.under-io{
    padding-top: 5%;
    padding-left: 30%;
   
    

}
.again-so{


    background-color: lightseagreen;
    border: 1px solid gray;
    width: 700px;
    height: 150px;
    text-align: center;
    



}
.another-div{
    margin-top: 60px;
}
footer{
    
    text-align: center;
    border: 2px solid gray;
    height: 150px;
    background-color: black;
}
#footer-top{
    padding-top: 2%;
}